body {
	background-color: dimgray;
	color: white;
	text-align: center;
	font-size: 24px;
}

h1, h2 {
	color: lightpink;
}

b {
	color: lightpink;
}

em {
	color: gray;
}

img {
	outline: 10px solid lightpink;
}

ul {
	list-style-type: circle;
	display: inline-block;
	text-align: left;
}